<div class="mt-4">
    <h1> {{burger_name}}</h1>
    <button class="change-devour btn btn-primary" data-id="{{id}}" data-newd="{{devour}}">
        <img src="/public/assets/img/burger.png" width="15px" height="15px" class="mr-2">Devour</button>
</div>